<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 40%>
<h3>Articles</h3>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<% @articles.each do |article| %> 
<%= render 'articles/article', article: article %>
<hr/>
<%end%>